*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "poppins";
    box-sizing: border-box;
}

.background {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 95%;
    z-index: -3;
}

.home {
    display: flex;
    flex-direction: column;
    height: 40rem;
}   

.bg-shadow {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 95%;
    opacity: .4;
}

nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    height: 5rem;
    padding: 0 3rem;
    /* background-color: rgba(0, 0, 0, 0.377); */
    
}


nav div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

nav div img {
    width: 10rem;
    height: 3rem;
}

nav div ul {
    display: flex;
    flex-direction: row;
    gap: .2rem;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav div ul li {
    cursor: pointer;
    font-family: "kanit";
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    padding: .5rem;
    border-radius: .8rem;
    color: white;
    

}
nav div ul li:hover {
    background-color: rgb(255, 82, 82);
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in;
   
}

nav div input {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0);
    height: 2rem;
    padding: 1rem;
    color: white;
}
nav div input::placeholder {
    color: white;
}
nav div input:active {
    border: 2px solid white;
}
nav div input:focus {
    border: 2px solid white;
}

nav div button {
    border-radius: 2rem;
    padding: .5rem;
    width: 7rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "kanit";
}
nav div button:hover {
    background-color: rgb(250, 73, 73);
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    transition-delay: 0.03s;
}

.deskripsi {
    display: flex;
    flex-direction: column;
    width: 35rem;
    gap: 1.5rem;
    margin-top: 7rem;
    margin-left: 4rem;
    color: white;
    justify-content: center;
    align-items: center;

}

.deskripsi p {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(192, 191, 191);
}

.deskripsi button {
    border-radius: 1.5rem;
    border: none;
    background-color: rgb(255, 95, 95);
    width: 20rem;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
   
}
.deskripsi button:hover {
    -webkit-box-shadow: -8px 8px 29px 0px rgba(255, 95, 95, 0.84);
    -moz-box-shadow: -8px 8px 29px 0px rgba(255, 95, 95, 0.84);
    box-shadow: -8px 8px 29px 0px rgba(255, 95, 95, 0.84);
}

.deskripsi button p {
    color: white;
}


/* bagian kedua */
.home2 {
    background-color: rgb(255, 0, 0);
    background: linear-gradient(to right, #01303d, #000000, #000000);
    color: white;
}